body {
    background-color: #121212;
    color: lightgray;
}
.mybutton {
    background-color: lightgray;
    color: #121212;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
.mybutton:hover {
    background-color: gray;
}
a {
    text-decoration: none;
    color: lightgray;
    padding: 6px;
}
.logo {
    width: 24px;
    height: 24px;
}
.circle {
  border-radius: 50%;
  background: black;
  padding: 6px;
}
.section {
  margin-bottom: 10px;
}
.containers {
    width: 700px;
    margin: auto;
}
ul {
    list-style-type: none;
    top: 0;
    padding: 0;
    position: sticky;
    text-decoration: none;
    background-color: lightgray;
    overflow: hidden;
}
li a {
    float: left;
    display: block;
    background-color: lightgray;
    color: #121212;
    padding: 10px 32px;
    border-right:1px solid gray;
}
li a:hover:not(.active) {
    background-color: gray;
}
li a.active {
    background-color:deepskyblue;
}
